.github/                     @lucacillario @GabrielePicco
docs/                        @bmuddha @GabrielePicco
magicblock-account-cloner/   @thlorenz @Dodecahedr0x
magicblock-accounts/         @thlorenz @taco-paco
magicblock-accounts-db/      @bmuddha @taco-paco
magicblock-aperture/         @bmuddha @thlorenz
magicblock-api/              @thlorenz @bmuddha
magicblock-chainlink/        @thlorenz @Dodecahedr0x
magicblock-committor-program/ @taco-paco @thlorenz
magicblock-committor-service/ @taco-paco @thlorenz
magicblock-config/           @bmuddha @Dodecahedr0x
magicblock-core/             @thlorenz @taco-paco
magicblock-ledger/           @taco-paco @thlorenz
magicblock-magic-program-api/ @taco-paco @Dodecahedr0x
magicblock-metrics/          @bmuddha @thlorenz
magicblock-processor/        @bmuddha @GabrielePicco
magicblock-rpc-client/       @thlorenz @snawaz
magicblock-table-mania/      @thlorenz @taco-paco
magicblock-task-scheduler/   @Dodecahedr0x @bmuddha
magicblock-validator/        @thlorenz @bmuddha
magicblock-validator-admin/  @Dodecahedr0x @GabrielePicco
magicblock-version/          @GabrielePicco @bmuddha
programs/                    @thlorenz @taco-paco
sh/                          @thlorenz @lucacillario
storage-proto/               @thlorenz @bmuddha
test-integration/            @thlorenz @taco-paco
test-kit/                    @bmuddha @Dodecahedr0x
tools/                       @thlorenz @bmuddha
