remote = { http = "http://127.0.0.1:7799", ws = "ws://127.0.0.1:7800" }
lifecycle = "ephemeral"
commit = { compute-unit-price = 1_000_000 }
listen = "0.0.0.0:8899"

[accountsdb]
# size of the main storage, we have to preallocate in advance
# it's advised to set this value based on formula 1KB * N * 3,
# where N is the number of accounts expected to be stored in
# database, e.g. for million accounts this would be 3GB
database-size = 1048576000 # 1GB
# minimal indivisible unit of addressing in main storage
# offsets are calculated in terms of blocks
block-size = "block256" # possible values block128 | block256 | block512
# size of index file, we have to preallocate,
# can be as low as 1% of main storage size, but setting it to higher values won't hurt
index-size = 2048576
# max number of snapshots to keep around
max-snapshots = 7
# how frequently (slot-wise) we should take snapshots
snapshot-frequency = 1024

[ledger]
reset = true
block-time = "50ms"

[metrics]
address = "0.0.0.0:9000"
