[package]
name = "magicblock-program"
version = { workspace = true }
authors = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
edition = { workspace = true }

[dependencies]
magicblock-magic-program-api = { workspace = true }
bincode = { workspace = true }
lazy_static = { workspace = true }
num-derive = { workspace = true }
num-traits = { workspace = true }
serde = { workspace = true, features = ["derive"] }
magicblock-config = { workspace = true }
magicblock-core = { workspace = true }
magicblock-metrics = { workspace = true }
solana-program-runtime = { workspace = true }
solana-log-collector = { workspace = true }
solana-sdk = { workspace = true }
thiserror = { workspace = true }

[dev-dependencies]
test-kit = { workspace = true }
assert_matches = { workspace = true }
rand = { workspace = true }

[lib]
crate-type = ["lib"]
name = "magicblock_program"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[features]
dev-context-only-utils = []
