[package]
name = "magicblock-program"
version = { workspace = true }
authors = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
edition = { workspace = true }

[dependencies]
bincode = { workspace = true }
lazy_static = { workspace = true }
magicblock-core = { workspace = true }
magicblock-magic-program-api = { workspace = true }
num-derive = { workspace = true }
num-traits = { workspace = true }
parking_lot = { workspace = true }
serde = { workspace = true, features = ["derive"] }
solana-account = { workspace = true }
solana-account-info = { workspace = true }
solana-clock = { workspace = true }
solana-fee-calculator = { workspace = true }
solana-hash = { workspace = true }
solana-instruction = { workspace = true }
solana-keypair = { workspace = true }
solana-log-collector = { workspace = true }
solana-program-runtime = { workspace = true }
solana-pubkey = { workspace = true }
solana-seed-derivable = { workspace = true }
solana-sdk-ids = { workspace = true }
solana-signature = { workspace = true }
solana-signer = { workspace = true }
solana-sysvar = { workspace = true }
solana-transaction = { workspace = true }
solana-transaction-context = { workspace = true }
thiserror = { workspace = true }

[dev-dependencies]
test-kit = { workspace = true }
assert_matches = { workspace = true }
rand = { workspace = true }
solana-signature = { workspace = true }
solana-signer = { workspace = true }

[lib]
crate-type = ["lib"]
name = "magicblock_program"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[features]
dev-context-only-utils = []
