[workspace]
members = [
  "programs/flexi-counter",
  "programs/schedulecommit",
  "programs/schedulecommit-security",
  "programs/sysvars",
  "programs/mini",
  "schedulecommit/client",
  "test-committor-service",
  "schedulecommit/test-scenarios",
  "schedulecommit/test-security",
  "test-chainlink",
  "test-cloning",
  "test-ledger-restore",
  "test-magicblock-api",
  "test-runner",
  "test-table-mania",
  "test-tools",
  "test-pubsub",
  "test-config",
  "test-schedule-intent",
  "test-task-scheduler",
]
resolver = "2"

[workspace.package]
version = "0.0.0"
edition = "2021"

[workspace.dependencies]
anyhow = "1.0.86"
async-trait = "0.1.77"
bincode = "1.3.3"
borsh = { version = "0.10.4" }
chrono = "0.4"
cleanass = "0.0.1"
color-backtrace = { version = "0.7" }
compressed-delegation-client = { path = "../compressed-delegation-client" }
ctrlc = "3.4.7"
ephemeral-rollups-sdk = { git = "https://github.com/magicblock-labs/ephemeral-rollups-sdk.git", rev = "2d0f16b" }
futures = "0.3.31"
integration-test-tools = { path = "test-tools" }
isocountry = "0.3.2"
lazy_static = "1.4.0"
light-batched-merkle-tree = { git = "https://github.com/magicblock-labs/light-protocol", branch = "dode/sdk-v2-2" }
light-client = { git = "https://github.com/magicblock-labs/light-protocol", branch = "dode/sdk-v2-2" }
light-compressed-account = { git = "https://github.com/magicblock-labs/light-protocol", branch = "dode/sdk-v2-2" }
light-hasher = { git = "https://github.com/magicblock-labs/light-protocol", branch = "dode/sdk-v2-2" }
light-sdk = { git = "https://github.com/magicblock-labs/light-protocol", branch = "dode/sdk-v2-2" }
light-sdk-types = { git = "https://github.com/magicblock-labs/light-protocol", branch = "dode/sdk-v2-2" }
log = "0.4.20"
magicblock-api = { path = "../magicblock-api" }
magicblock-chainlink = { path = "../magicblock-chainlink", features = [
  "dev-context",
] }
magicblock-accounts-db = { path = "../magicblock-accounts-db", features = [
  "dev-tools",
] }
magicblock-committor-program = { path = "../magicblock-committor-program", features = [
  "no-entrypoint",
] }
magicblock-committor-service = { path = "../magicblock-committor-service" }
magicblock-config = { path = "../magicblock-config" }
magicblock-core = { path = "../magicblock-core" }
magic-domain-program = { git = "https://github.com/magicblock-labs/magic-domain-program.git", rev = "ea04d46", default-features = false }
magicblock_magic_program_api = { package = "magicblock-magic-program-api", path = "../magicblock-magic-program-api" }
magicblock-delegation-program = { git = "https://github.com/magicblock-labs/delegation-program.git", rev = "aa1de56d90c", features = [
  "no-entrypoint",
] }
magicblock-program = { path = "../programs/magicblock" }
magicblock-rpc-client = { path = "../magicblock-rpc-client" }
magicblock-table-mania = { path = "../magicblock-table-mania" }
paste = "1.0"
program-flexi-counter = { path = "./programs/flexi-counter" }
program-mini = { path = "./programs/mini" }
program-schedulecommit = { path = "programs/schedulecommit" }
program-schedulecommit-security = { path = "programs/schedulecommit-security" }
rand = "0.8.5"
random-port = "0.1.1"
rayon = "1.10.0"
schedulecommit-client = { path = "schedulecommit/client" }
serde = "1.0.217"
serial_test = "3.2.0"
shlex = "1.3.0"
solana-account = { git = "https://github.com/magicblock-labs/solana-account.git", rev = "6bbfc69" }
solana-compute-budget-interface = "2.2"
solana-loader-v2-interface = "2.2"
solana-loader-v3-interface = "4.0"
solana-loader-v4-interface = "2.1"
solana-program = "2.2"
solana-program-test = "2.2"
solana-pubkey = { version = "2.2" }
solana-pubsub-client = "2.2"
solana-rpc-client = "2.2"
solana-rpc-client-api = "2.2"
solana-sdk = "2.2"
solana-sdk-ids = { version = "2.2" }
solana-system-interface = "1.0"
solana-transaction-status = "2.2"
spl-memo-interface = "1.0"
teepee = "0.0.1"
tempfile = "3.10.1"
test-chainlink = { path = "./test-chainlink" }
test-config = { path = "test-config" }
test-ledger-restore = { path = "./test-ledger-restore" }
test-kit = { path = "../test-kit" }
tokio = "1.0"
toml = "0.8.13"

[patch.crates-io]
# some solana dependencies have solana-storage-proto as dependency
# we need to patch them with our version, because they use protobuf-src v1.1.0
# and we use protobuf-src v2.1.1. Otherwise compilation fails
solana-storage-proto = { path = "../storage-proto" }
# same reason as above
solana-account = { git = "https://github.com/magicblock-labs/solana-account.git", rev = "6bbfc69" }
# solana-svm = { git = "https://github.com/magicblock-labs/magicblock-svm.git", rev = "11bbaf2" }
