name: Run CI - Integration Tests

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [master, dev]
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

jobs:
  build:
    if: github.event_name != 'pull_request' || !github.event.pull_request.draft
    runs-on: ubuntu-latest-m
    name: Build Project
    steps:
      - name: Checkout this magicblock-validator
        uses: actions/checkout@v5
        with:
          path: magicblock-validator

      - uses: ./magicblock-validator/.github/actions/setup-build-env
        with:
          build_cache_key_name: "magicblock-validator-${{ hashFiles('magicblock-validator/Cargo.lock', 'magicblock-validator/test-integration/Cargo.lock') }}-v001"
          rust_toolchain_release: "1.91.1"
          github_access_token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - uses: ./magicblock-validator/.github/actions/setup-solana

      - name: Build project and test programs
        run: |
          cargo build --locked
          make -C test-integration programs
        shell: bash
        working-directory: magicblock-validator

      - name: Build test-runner binary
        run: cargo build --package test-runner --bin run-tests --locked
        shell: bash
        working-directory: magicblock-validator

      - name: Pre-build all test binaries
        run: cargo build --tests --locked
        shell: bash
        working-directory: magicblock-validator/test-integration

      - name: Upload test-runner binary
        uses: actions/upload-artifact@v3
        with:
          name: test-runner-binary
          path: magicblock-validator/test-integration/target/debug/run-tests
          retention-days: 1

  run_integration_tests:
    needs: build
    runs-on: ubuntu-latest-m
    strategy:
      matrix:
        batch_tests:
          - "schedulecommit"
          - "chainlink"
          - "cloning"
          - "restore_ledger"
          - "magicblock_api"
          - "config"
          - "table_mania"
          - "committor"
          - "pubsub"
          - "schedule_intents"
          - "task-scheduler"
      fail-fast: false
    name: Integration Tests - ${{ matrix.batch_tests }}
    steps:
      - name: Checkout this magicblock-validator
        uses: actions/checkout@v5
        with:
          path: magicblock-validator

      - uses: ./magicblock-validator/.github/actions/setup-build-env
        with:
          build_cache_key_name: "magicblock-validator-${{ hashFiles('magicblock-validator/Cargo.lock', 'magicblock-validator/test-integration/Cargo.lock') }}-v001"
          rust_toolchain_release: "1.91.1"
          github_access_token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - uses: ./magicblock-validator/.github/actions/setup-solana

      - name: Download test-runner binary
        uses: actions/download-artifact@v3
        with:
          name: test-runner-binary
          path: magicblock-validator/test-integration/target/debug/

      - name: Make test-runner binary executable
        run: chmod +x magicblock-validator/test-integration/target/debug/run-tests
        shell: bash

      - name: Run integration tests - ${{ matrix.batch_tests }}
        run: |
          sudo prlimit --pid $$ --nofile=1048576:1048576
          sudo sysctl fs.inotify.max_user_instances=1280
          sudo sysctl fs.inotify.max_user_watches=655360
          make ci-test-integration
        shell: bash
        working-directory: magicblock-validator
        env:
          RUN_TESTS: ${{ matrix.batch_tests }}
          TEST_RUNNER_BIN: ${{ github.workspace }}/magicblock-validator/test-integration/target/debug/run-tests
