name: CI

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [master, dev, chore/improve-ci]
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

env:
  CARGO_TARGET_DIR: ${{ github.workspace }}/target

jobs:
  format:
    name: Format Check
    runs-on: self-hosted
    # Su push sempre; su PR solo se non è draft
    if: github.event_name != 'pull_request' || github.event.pull_request.draft == false
    steps:
      - name: Checkout magicblock-validator
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Run ci-fmt
        run: make ci-fmt

      - name: Run ci-fmt in test-integration
        run: |
          cd test-integration
          make ci-fmt

  lint:
    name: Lint Check
    runs-on: self-hosted
    # Su push sempre; su PR solo se non è draft
    if: github.event_name != 'pull_request' || github.event.pull_request.draft == false
    steps:
      - name: Checkout magicblock-validator
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Run ci-lint
        run: make ci-lint

      - name: Run ci-lint in test-integration
        run: |
          cd test-integration
          make ci-lint


  unit-tests:
    name: Unit Tests
    runs-on: self-hosted
    # Su push sempre; su PR solo se non è draft
    if: github.event_name != 'pull_request' || github.event.pull_request.draft == false
    needs: [format, lint]
    steps:
      - name: Checkout magicblock-validator
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Run unit tests
        run: |
          cargo test --test test_ledger_truncator

#  integration-tests:
#    name: Integration Tests - ${{ matrix.batch_tests }}
#    runs-on: self-hosted
#    # Su push sempre; su PR solo se non è draft
#    if: github.event_name != 'pull_request' || github.event.pull_request.draft == false
#    # needs: [format, lint]
#    strategy:
#      fail-fast: false
#      matrix:
#        batch_tests:
#          - "schedulecommit"
#          - "chainlink"
#          - "cloning"
#          - "restore_ledger"
#          - "magicblock_api"
#          - "config"
#          - "table_mania"
#          - "committor"
#          - "pubsub"
#          - "schedule_intents"
#          - "task-scheduler"
#    steps:
#      - name: Checkout magicblock-validator
#        uses: actions/checkout@v5
#        with:
#          fetch-depth: 1
#
#      - name: Install Rust toolchain
#        run: |
#          rustup default 1.91.1
#          rustc --version
#          cargo --version
#
#      - name: Run integration tests - ${{ matrix.batch_tests }}
#        run: |
#          # Rimuoviamo mold solo per questo step perché il linker SBF non lo supporta
#          export RUSTFLAGS=""
#          make ci-test-integration
#        env:
#          RUN_TESTS: ${{ matrix.batch_tests }}

#  ci-status:
#    name: CI Status
#    runs-on: ubuntu-latest
#    if: always()
#    needs:
#      - format
#      - lint
#      - integration-tests
#    steps:
#      - name: Check all jobs status
#        run: |
#          if [[ "${{ needs.format.result }}" != "success" ||
#                "${{ needs.lint.result }}" != "success" ||
#                "${{ needs.unit-tests.result }}" != "success" ||
#                "${{ needs.integration-tests.result }}" != "success" ]]; then
#            echo "One or more CI jobs failed or were skipped"
#            exit 1
#          fi
#          echo "All CI jobs passed successfully"
